 * {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-y:hidden;
}

.page_container {
    text-align: center;
}

.logo {
    height: 7vh;
    width: auto;
}

.nav {
    background-color: darkblue;
    color: darkorange;
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap:2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    font-size: 3vh;
    font-family: 'Lucida Sans Unicode';
    font: 'Lucida Sans Unicode';
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: black;
}

.nav li:hover {
    background-color: royalblue;
}