 * {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-y:scroll;
}

.page_container {
    text-align: center;
}

.logo {
    height: 2.25rem;
    width: auto;
}

.nav {
    background-color: darkblue;
    color: darkorange;
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap:2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    font-size: 3vh;
    font-family: 'Lucida Sans Unicode';
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: black;
}

.nav li:hover {
    background-color: royalblue;
}

.home_map {
    height: calc(100% - 60px);
    margin: auto;
}

.data_container {
    display: flex;
    text-align: center;
}

.data_sidebar {
box-sizing: border-box;
  padding: 2em;
  width: 20vw;
}


.leaflet-container {
    overflow-y:hidden;
    width: 100%;
    height: 90vh;
}
.h2 {
    font-size: large;
	border-width: 1px;
    text-align: center;
    align-self: center;
	padding: 2px;
    width: fit-content;
}
.about_box {
    background-color: '#cfe8fc'; 
    height: '100vh';
    width: '100vw';
    margin: auto;
}
p {
	text-align: center;
    width:inherit;
	margin: 10px;
    border-color: rgb(200, 200, 200);
	border-style:ridge;
	border-width:thin;
	padding: 2px;
    box-shadow: 0 8px 40px -12px rgba(29, 8, 225, 0.3);
}
.aboutSection {
	margin: 1%;
	border: solid;
	border-width: 4px 4px 0px 0px;
}
.projectProposal {
	display: flex;
	flex-direction: row;
	padding: 3%;
	font-size: 16px;
}
.leftBody {
	flex: 40%;
}
.rightBody {
	flex: 40%;
}
.sdpLogo {
	position: fixed;
	right: 12px;
	bottom: 12px;
	float: right;
	height: 76px;
	width: auto;
}
.sdpLogoLeft {
	position: fixed;
	left: 12px;
	bottom: 12px;
	float: right;
	height: 48px;
	width: auto;
}
.diagram {
	width: 95%;
	height: auto;
}